<div class="container">
	<div class="row">
		<%= render "temple/list",book: @book,user: current_user %>

		<div class="col-xs-9">
			<h2>Users</h2>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |u| %>
					<tr>
						<td><%= attachment_image_tag u, :profile_image, :fill, 100,100, format: 'jpeg', fallback: "no_image.jpg",size: "100x100" %></td>
						<td><%= u.name %></td>
						<td><%= link_to "show", user_path(u.id) %></td>
					</tr>

					<% end %>
				</tbody>
			</table>
		</div>

	</div>
</div>

